#container {
	width: 100%;
	height: 100%;
	max-height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

#question {
	padding: 3rem;
	text-align: center;
}

#options {
	flex-grow: 1;
}

.optionButton {
	height: 100%;
	width: 100%;
}

.optionWapper {
	height: 100%;
	width: 100%;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	/* cursor: pointer; */
}
