#container {
	width: 100%;
	height: 100%;
	overflow-y: auto;

	-ms-overflow-style: none;
	scrollbar-width: none;
}
#container::-webkit-scrollbar {
	display: none;
}

#header {
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	width: 100%;
}
#matchContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#details {
	flex-grow: 1;
	padding-bottom: 4rem;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	flex-wrap: wrap;
	overflow-x: hidden;
}

#peopleContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: nowrap;

	justify-content: space-evenly;
	margin-top: 2rem;
}

#personWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 33%;
	height: 100%;
	align-items: center;
	flex-wrap: nowrap;

	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#personAvatar {
	margin-bottom: 0.5rem;
	width: 100%;
	height: auto;
}

#characteristics {
	margin-top: 6rem;
	margin-bottom: 1rem;
}

#social {
	font-size: 0.8rem;
}

#name {
	font-size: 18px;
	white-space: nowrap;
}
