#container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

#header {
	padding: 2rem;
	padding-bottom: 0;
	padding-top: 10rem;

	text-align: center;
}
#matchContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#details {
	flex-grow: 1;
	padding: 2rem;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	flex-wrap: wrap;
	overflow-x: hidden;
}

#peopleContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: nowrap;
	padding-left: 1.5rem;

	justify-content: space-evenly;
	margin-top: 2rem;
}

#personWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	flex-basis: 0;
	flex-grow: 1;
	margin-right: 1.5rem;
}

#personAvatar {
	margin-bottom: 0.5rem;
	width: 100%;
	height: auto;
}

#characteristics {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

#social {
	font-size: 0.8rem;
}
